<html>
<head>
<title>Patient Registration Report Selection</title>
<%= javascript_include_tag "prototype" %>
<%= stylesheet_link_tag "cohort" %>
<script>
  var tt_cancel_destination = "/"  
  
  var tt_cancel_destination = "/"  

  function showReport() {
    cohort = document.getElementsByClassName('scrollTableContainer')[0]
    survival_analysis = document.getElementsByClassName('survival-analysis')[0]
    switch_button = $('switch_view')
    if (switch_button.innerHTML.sub('<span>','').sub('</span>','') == 'Survival Analysis'){
      cohort.style.display = 'none'
      switch_button.innerHTML = "<span>Cohort</span>"
      survival_analysis.style.display = 'inline'
    } else {
      cohort.style.display = 'inline'
      switch_button.innerHTML = "<span>Survival Analysis</span>"
      survival_analysis.style.display = 'none'
    } 
     
  }
</script>
<style>
  table {
    border-style:none;
    border-width:1px;
  }

  th {
    border-style:none;
    border-width:3px;
    font-size:20px;
  }

  td {
    text-align:center;
    border-style:solid;
    border-width:1px;
    font-size:22px;
  }

  .row_break td {
    border-width:0px;
  }

  div.scrollTableContainer {
    border-style:solid;
  }

  .survival-analysis th, .survival-analysis td {
    text-align:left;
  }
</style>

<title>Cohort<%= @location + "  " + @report_type %></title>
</head>

<body>
	<h1 align='center'>Kamuzu Central Hospital - Patient Registration Report</h1>
	<h1 align='center'><%= @report_type %></h1>
<div>
	<table class='dataTable' cellspacing='0' align='center'>
		<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Department Name</th>
			<th>Total Count</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;">Casualty</td>
			<td><%= @services['SERVICES']['Casualty'] -%></td>
		</tr>
		<tr >
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Dental</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Dental'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Eye</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Eye'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Family Planing</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Family Planing'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Medical</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Medical'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">OB/Gyn</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['OB/Gyn'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Orthopedics</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Orthopedics'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Pediatrics</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Pediatrics'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Skin</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Skin'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">STI Clinic</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['STI Clinic'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Surgical</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Surgical'] -%></td>
		</tr>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px">Other</td>
			<td style="border-width:1px 1px 1px 1px"><%= @services['SERVICES']['Other'] -%></td>
		</tr>
		<% 
			@total_services = @services['SERVICES']['Casualty'] + @services['SERVICES']['Dental'] + @services['SERVICES']['Eye'] +
												@services['SERVICES']['Other'] + @services['SERVICES']['Surgical'] + @services['SERVICES']['STI Clinic'] +  @services['SERVICES']['Skin'] + @services['SERVICES']['Pediatrics'] + @services['SERVICES']['Orthopedics'] + @services['SERVICES']['OB/Gyn'] + @services['SERVICES']['Medical'] + @services['SERVICES']['Family Planing']
		
		%>
		<tr class = 'row_break'>
			<td style ="border-width:0px"></td>
			<td style="text-align:left;border-width:1px 1px 1px 1px"><h3><b>Total Number of services</b></h3></td>
			<td style="border-width:1px 1px 1px 1px"><h3><b><%= @total_services -%></b></h3></td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>
