
<style>

/* .......................... demographics css starts ................................. */
.demographics {
  width: 99%;
  display: table;
  padding: 0px 1px 0px 1px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  height: 15%;
}

.main-page-container-rows  {
  display: table-row;
}

.cells {
  display: table-cell;
}

.demographics .cells {
  
}

.gender-icon {
  width: 75px;
  height: 75px;
  padding-bottom: 35px;
}

.demographics-table {
  width: 100%;
}

.attributes-table {
  width: 100%;
}

.main-container th {
  font-size: 12px;
  text-align: left;
}

.village-reach-icon {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
}

/* .......................... tabs css start ................................. */
</style>


<div class="main-container">
  <div class="demographics">
    
    <div class="cells" style="width: 5%; vertical-align: middle; text-align: left;">
      <span class="icons">
        <%gender = @patient_bean.sex
          gender = gender == 'F' ? 'Female' : 'Male'
        %>
        <img src="/images/icons/Person_Undefined_<%=gender%>_Dark.png" class='icons gender-icon'  />
      </span>
    </div>

    <div class="cells" style="width: 30%;">
      <table class="demographics-table">
        <tr>
          <th style="width:185px;">Chitupa Chadziko:</th>
          <td><%=@patient_bean.national_id%></td>
        </tr>
        <tr>
          <th style="width:55px;">Dzina:</th>
          <td><%=@patient_bean.name%></td>
        </tr>
        <tr>
          <th style="width:185px;">Tsiku Lobadwa:</th>
          <td style="text-align: left;"><%=@patient_bean.birthdate%></td>
        </tr>
        <tr>
          <th style="width:100px;">TA Wakwanu:</th>
          <td style="text-align: left;"><%=%></td>
        </tr>
      </table> 
    </div>

    <div class="cells" style="width: 55%;">
      <table class="attributes-table">
        <tr>
          <th style="width:185px;">Boma Lomwe Mukukhala:</th>
          <td style="text-align: left;"></td>
          <th style="width:100px;">Zotsatila:</th>
          <td style="text-align: left;"></td>
        </tr>
        <tr>
          <th style="width:185px;">Mfumu Yayikulu:</th>
          <td style="text-align: left;">&nbsp;</td>
        </tr>
        <tr>
          <th style="width:185px;">Mudzi Omwe Mukukhala:</th>
          <td style="text-align: left;"></td>
        </tr>
      </table> 
    </div>

    <div class="cells" style="width: 10%; vertical-align: middle; text-align: right;">
      <span class="icons">
        <img src='/images/icons/union.png' class='icons village-reach-icon'  />
      </span>
    </div>

  </div>

<!-- .......................... header ends ................................. -->
